App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libplack-perl, libsyntax-keyword-gather-perl, perl (>= 5.10.0)
Depends: ${misc:Depends}, ${perl:Depends}, libplack-perl, libsyntax-keyword-gather-perl
X: 0
