App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libclass-data-inheritable-perl, libdbi-perl, libsql-abstract-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl (>= 5.9.4)
Depends: ${misc:Depends}, ${perl:Depends}, libclass-data-inheritable-perl, libdbi-perl, libsql-abstract-perl, perl (>= 5.9.4)
X: 0
