App: 0
Build-Depends: debhelper (>= 8), perl
Build-Depends-Indep: libdata-dump-perl, libfile-slurp-perl, libjson-pp-perl, perl (>= 5.11.4) | libmodule-build-perl (>= 0.360100)
Depends: ${misc:Depends}, ${perl:Depends}
X: 0
