App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdata-page-perl, libdata-pageset-perl, libjson-xs-perl, libmoose-perl, libtest-mock-lwp-perl, libtest-pod-coverage-perl, libtest-pod-perl, liburi-perl, libwww-perl, libxml-easy-perl, libxml-simple-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdata-page-perl, libdata-pageset-perl, libjson-xs-perl, libmoose-perl, liburi-perl, libwww-perl, libxml-easy-perl
X: 0
