App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libmarc-record-perl, libmarc-xml-perl, libnet-z3950-simpleserver-perl, libnet-z3950-zoom-perl, liburi-perl, libwww-perl, libxml-libxml-perl, libxml-simple-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libmarc-record-perl, libmarc-xml-perl, libnet-z3950-simpleserver-perl, libnet-z3950-zoom-perl, liburi-perl, libwww-perl, libxml-libxml-perl, libxml-simple-perl
X: 0
