App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcgi-application-perl, libhtml-template-perl, libio-stringy-perl, liblog-dispatch-perl, libtest-nowarnings-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl, pkg-components (>= 0.2)
Depends: ${misc:Depends}, ${perl:Depends}, libcgi-application-perl, libhtml-template-perl, libio-stringy-perl
X: 0
