App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libclass-default-perl (>= 1.0), libfile-find-rule-perl (>= 0.20), libfile-remove-perl (>= 1.42), libfile-slurp-perl (>= 9999.04), libparams-util-perl (>= 0.10), libtest-cpan-meta-perl, libtest-minimumversion-perl, libtest-pod-perl, libtest-script-perl, perl (>= 5.10.1) | libpod-simple-perl (>= 3.07)
Depends: ${misc:Depends}, libclass-default-perl (>= 1.0), libfile-find-rule-perl (>= 0.20), libfile-remove-perl (>= 1.42), libfile-slurp-perl (>= 9999.04), libparams-util-perl (>= 0.10), perl (>= 5.005)
X: 0
