App: 0
Build-Depends: debhelper (>= 8), perl
Build-Depends-Indep: libhash-fieldhash-perl, libnamespace-autoclean-perl, libossp-uuid-perl, libsub-name-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libhash-fieldhash-perl, libsub-name-perl
X: 0
