App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcrypt-eksblowfish-perl, libdbd-sqlite3-perl, libdbix-class-perl, libdigest-whirlpool-perl, libsql-translator-perl (>= 0.11002), libsub-name-perl, libtest-exception-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdbix-class-perl, libsub-name-perl
X: 0
