App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libio-capture-perl, libio-string-perl, libtest-pod-coverage-perl, libtest-pod-perl, libunicode-map-perl, libunicode-maputf8-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libio-string-perl
X: 0
