App: 0
Build-Depends: debhelper (>= 7), perl
Build-Depends-Indep: libconfig-model-perl (>= 1.233), libcurses-ui-perl (>= 0.9606), libexception-class-perl, liblog-log4perl-perl, libtest-pod-perl
Depends: ${misc:Depends}, ${perl:Depends}, libconfig-model-perl (>= 1.233), libcurses-ui-perl (>= 0.9606), libexception-class-perl
X: 0
