App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libmoose-perl (>= 2.0002), libmoosex-daemonize-perl, libmoosex-declare-perl, libpoe-perl (>= 2:1.3100), libtest-fatal-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.90)
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl (>= 2.0002), libpoe-perl (>= 2:1.3100)
X: 0
