App: 0
Build-Depends: debhelper (>= 8), freeglut3-dev, libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, libx11-dev, libxi-dev, libxmu-dev, perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
X: 0
