App: 0
Build-Depends: debhelper (>= 8), libdata-optlist-perl (>= 0.107), libdatetime-format-mysql-perl, libdbm-deep-perl, libdevel-globaldestruction-perl, libeval-closure-perl (>= 0.04), libio-string-perl, liblist-moreutils-perl (>= 0.28), liblocale-us-perl, libmodule-refresh-perl, libmro-compat-perl, libpackage-deprecationmanager-perl (>= 0.11), libpackage-stash-perl (>= 0.21), libpackage-stash-xs-perl, libpadwalker-perl, libparams-coerce-perl, libparams-util-perl (>= 1.00), libregexp-common-perl, libsub-exporter-perl (>= 0.980), libsub-name-perl (>= 0.05), libsuper-perl, libtask-weaken-perl, libtest-deep-perl, libtest-fatal-perl, libtest-leaktrace-perl, libtest-output-perl, libtest-requires-perl, libtest-warn-perl, libtry-tiny-perl, liburi-perl, libwww-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libdata-optlist-perl (>= 0.107), libdevel-globaldestruction-perl, libeval-closure-perl (>= 0.04), liblist-moreutils-perl (>= 0.28), libmro-compat-perl, libpackage-deprecationmanager-perl (>= 0.11), libpackage-stash-perl (>= 0.21), libpackage-stash-xs-perl, libparams-util-perl (>= 1.00), libsub-exporter-perl (>= 0.980), libsub-name-perl (>= 0.05), libtask-weaken-perl, libtry-tiny-perl
X: 0
