App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libarchive-peek-perl, libcpan-distnameinfo-perl, libfile-slurp-perl, libmoose-perl, libpath-class-perl, libppi-perl, libtest-indistdir-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libarchive-peek-perl, libcpan-distnameinfo-perl, libfile-slurp-perl, libmoose-perl, libpath-class-perl, libppi-perl
X: 0
