App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libconfig-mvp-perl (>= 2.101460), libconfig-mvp-reader-ini-perl (>= 2.101460), liblist-moreutils-perl, liblog-dispatchouli-perl (>= 1.100710), libmoose-autobox-perl (>= 0.10), libmoose-perl, libnamespace-autoclean-perl, libparams-util-perl, libpod-elemental-perl (>= 0.100220), libppi-perl, libsoftware-license-perl, libstring-flogger-perl (>= 1), libstring-rewriteprefix-perl, libtest-differences-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libconfig-mvp-perl (>= 2.101460), libconfig-mvp-reader-ini-perl (>= 2.101460), liblist-moreutils-perl, liblog-dispatchouli-perl (>= 1.100710), libmoose-autobox-perl (>= 0.10), libmoose-perl, libnamespace-autoclean-perl, libparams-util-perl, libpod-elemental-perl (>= 0.100220), libstring-flogger-perl (>= 1), libstring-rewriteprefix-perl
X: 0
