App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libconfig-mvp-perl (>= 2.101460), libconfig-mvp-reader-ini-perl (>= 2.101460), libdatetime-perl (>= 2:0.4400), liblist-moreutils-perl, liblog-dispatchouli-perl (>= 1.100710), libmoose-autobox-perl (>= 0.10), libmoose-perl, libnamespace-autoclean-perl, libparams-util-perl, libpod-elemental-perl (>= 0.100220), libppi-perl, libsoftware-license-perl, libstring-flogger-perl (>= 1), libstring-formatter-perl (>= 0.100680), libstring-rewriteprefix-perl, libtest-differences-perl, libtest-simple-perl (>= 0.96) | perl (>= 5.14), perl
Depends: ${misc:Depends}, ${perl:Depends}, libconfig-mvp-perl (>= 2.101460), libconfig-mvp-reader-ini-perl (>= 2.101460), libdatetime-perl (>= 2:0.4400), liblist-moreutils-perl, liblog-dispatchouli-perl (>= 1.100710), libmoose-autobox-perl (>= 0.10), libmoose-perl, libnamespace-autoclean-perl, libparams-util-perl, libpod-elemental-perl (>= 0.100220), libstring-flogger-perl (>= 1), libstring-formatter-perl (>= 0.100680), libstring-rewriteprefix-perl
X: 0
