App: 0
Build-Depends: debhelper (>= 7.0.50)
Build-Depends-Indep: libcaptcha-recaptcha-perl (>= 0.92), libcgi-simple-perl, libclass-accessor-chained-perl, libclone-perl, libconfig-any-perl (>= 0.18), libcrypt-cbc-perl, libcrypt-des-perl, libdata-visitor-perl (>= 0.26), libdate-calc-perl, libdatetime-format-builder-perl (>= 0.7901), libdatetime-format-natural-perl, libdatetime-format-strptime-perl, libdatetime-locale-perl, libdatetime-perl (>= 0.38), libdbix-class-perl, libemail-valid-perl, libfile-sharedir-perl (>= 0.05-1.2), libhash-flatten-perl, libhtml-scrubber-perl, libhtml-tokeparser-simple-perl (>= 3.14), liblist-moreutils-perl, libmro-compat-perl, libnumber-format-perl, libpath-class-perl, libreadonly-perl, libregexp-common-perl, libtask-weaken-perl, libtemplate-perl, libtest-nowarnings-perl, libwww-perl (>= 1.64), libyaml-libyaml-perl (>= 0.32), perl (>= 5.10.1) | libtest-simple-perl (>= 0.92)
Depends: ${misc:Depends}, ${perl:Depends}, libcaptcha-recaptcha-perl (>= 0.92), libclass-accessor-chained-perl, libclone-perl, libconfig-any-perl (>= 0.18), libcrypt-cbc-perl, libcrypt-des-perl, libdata-visitor-perl (>= 0.26), libdate-calc-perl, libdatetime-format-builder-perl (>= 0.7901), libdatetime-format-natural-perl, libdatetime-format-strptime-perl, libdatetime-locale-perl, libdatetime-perl (>= 0.38), libemail-valid-perl, libfile-sharedir-perl (>= 0.05-1.2), libhash-flatten-perl, libhtml-scrubber-perl, libhtml-tokeparser-simple-perl (>= 3.14), liblist-moreutils-perl, libmro-compat-perl, libnumber-format-perl, libpath-class-perl, libreadonly-perl, libregexp-common-perl, libtask-weaken-perl, libtemplate-perl, libwww-perl (>= 1.64), libyaml-libyaml-perl (>= 0.32), perl (>= 5.10)
X: 0
