App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcaptcha-recaptcha-perl (>= 0.94), libcgi-simple-perl, libclass-accessor-chained-perl, libclone-perl, libconfig-any-perl (>= 0.18), libcrypt-cbc-perl, libcrypt-des-perl, libdata-visitor-perl (>= 0.26), libdate-calc-perl, libdatetime-format-builder-perl, libdatetime-format-natural-perl, libdatetime-format-strptime-perl (>= 1.2000), libdatetime-locale-perl (>= 1:0.45), libdatetime-perl (>= 2:0.5400), libdbix-class-perl, libemail-valid-perl, libfile-sharedir-perl, libhash-flatten-perl, libhtml-scrubber-perl, libhtml-tokeparser-simple-perl, liblist-moreutils-perl, libmoose-perl, libmoosex-aliases-perl, libmoosex-chainedaccessors-perl, libmoosex-setonce-perl, libnumber-format-perl, libpath-class-perl, libreadonly-perl, libregexp-common-perl, libtask-weaken-perl, libtemplate-perl, libwww-perl, libyaml-libyaml-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.92)
Depends: ${misc:Depends}, ${perl:Depends}, libcaptcha-recaptcha-perl (>= 0.94), libclass-accessor-chained-perl, libclone-perl, libconfig-any-perl (>= 0.18), libcrypt-cbc-perl, libcrypt-des-perl, libdata-visitor-perl (>= 0.26), libdate-calc-perl, libdatetime-format-builder-perl, libdatetime-format-natural-perl, libdatetime-format-strptime-perl (>= 1.2000), libdatetime-locale-perl (>= 1:0.45), libdatetime-perl (>= 2:0.5400), libemail-valid-perl, libfile-sharedir-perl, libhash-flatten-perl, libhtml-scrubber-perl, libhtml-tokeparser-simple-perl, liblist-moreutils-perl, libmoose-perl, libmoosex-aliases-perl, libmoosex-chainedaccessors-perl, libmoosex-setonce-perl, libnumber-format-perl, libpath-class-perl, libreadonly-perl, libregexp-common-perl, libtask-weaken-perl, libtemplate-perl, libwww-perl, libyaml-libyaml-perl
X: 0
