App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libdatetime-format-mail-perl, libdatetime-format-w3cdtf-perl, libtest-differences-perl, libtest-manifest-perl, libtest-pod-coverage-perl, libtest-pod-perl, libxml-parser-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdatetime-format-mail-perl, libdatetime-format-w3cdtf-perl, libxml-parser-perl
X: 0
