App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libfile-remove-perl, libjson-perl (>= 2.14), libmodule-scandeps-perl (>= 0.89), libpar-dist-perl, libwww-perl, libyaml-tiny-perl (>= 1.36), perl (>= 5.12) | libextutils-install-perl (>= 1.52)
Depends: ${misc:Depends}, ${perl:Depends}, libfile-remove-perl, libjson-perl (>= 2.14), libmodule-scandeps-perl (>= 0.89), libpar-dist-perl, libwww-perl, libyaml-tiny-perl (>= 1.36), perl (>= 5.12) | libextutils-install-perl (>= 1.52)
X: 0
