App: 0
Build-Depends: debhelper (>= 7.2.13)
Build-Depends-Indep: libuniversal-require-perl, liburi-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libuniversal-require-perl
X: 0
