App: 0
Build-Depends: debhelper (>= 7.0.50~), libdbi-perl (>= 1.610.90+is+1.609-1~), libmysqlclient-dev, perl, zlib1g-dev (>= 1:1.1.3)
Depends: ${libdbi-perl:Depends}, ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libdbi-perl (>= 1.610.90)
X: 0
