App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcarp-clan-perl, libmoose-perl (>= 2) | libclass-mop-perl, libnamespace-clean-perl (>= 0.19), libsub-exporter-perl, libsub-install-perl, libsub-name-perl, libtest-fatal-perl, libtest-requires-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libcarp-clan-perl, libmoose-perl (>= 2) | libclass-mop-perl, libnamespace-clean-perl (>= 0.19), libsub-exporter-perl, libsub-install-perl, libsub-name-perl
X: 0
