App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libxml-namespacesupport-perl, libxml-sax-base-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libxml-namespacesupport-perl, libxml-sax-base-perl, ucf (>= 0.28)
X: 0
