App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libfilter-perl, libhttp-daemon-perl | libwww-perl (<< 6), libio-pty-perl, libpoe-test-loops-perl (>= 1.312), libsocket-getaddrinfo-perl, libsocket6-perl, libterm-readkey-perl, netbase, perl
Depends: ${misc:Depends}, ${perl:Depends}, libfilter-perl
X: 0
