App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libio-pty-perl, libterm-readkey-perl, libtest-pod-coverage-perl, libtest-pod-perl, libwant-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libterm-readkey-perl, libwant-perl
X: 0
