App: 0
Build-Depends: debhelper (>= 8), perl
Build-Depends-Indep: gnupg, libgnupg-interface-perl, libmailtools-perl, libmime-tools-perl, libtest-pod-perl
Depends: ${misc:Depends}, ${perl:Depends}, gnupg, libgnupg-interface-perl, libmailtools-perl, libmime-tools-perl
X: 0
