App: 0
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: libdbd-sqlite3-perl, libdbix-class-perl (>= 0.08118), liblingua-en-inflect-perl, libstring-camelcase-perl, libsub-exporter-perl, libtest-deep-perl, libtest-exception-perl, perl (>= 5.10.1) | libparent-perl
Depends: ${misc:Depends}, ${perl:Depends}, libdbd-sqlite3-perl, libdbix-class-perl (>= 0.08118), liblingua-en-inflect-perl, libstring-camelcase-perl, libsub-exporter-perl, perl (>= 5.10.1) | libparent-perl
X: 0
