App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libdevel-cycle-perl (>= 1.07), libpadwalker-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdevel-cycle-perl (>= 1.07), libpadwalker-perl
X: 0
