App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libclass-accessor-perl, libdbm-deep-perl, libossp-uuid-perl, perl (>= 5.6.0)
Depends: ${misc:Depends}, ${perl:Depends}, libclass-accessor-perl, libdbm-deep-perl, libossp-uuid-perl
X: 0
