App: 0
Build-Depends: cdbs (>= 0.4.85~), debhelper (>= 7.0.1), devscripts (>= 2.10.7~), dh-buildinfo, liblog-log4perl-perl, libmoose-perl (>= 0.82), libmoosex-types-perl (>= 0.12), libnet-jabber-perl, libtest-nowarnings-perl, perl
Depends: ${cdbs:Depends}, ${misc:Depends}, ${perl:Depends}
X: 0
