App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-isa-perl | perl (<< 5.10.1-13), libexception-class-perl, libparams-validate-perl, libtest-pod-perl (>= 1.41), perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-isa-perl | perl (<< 5.10.1-13), libexception-class-perl, libparams-validate-perl
X: 0
