App: 0
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: libio-socket-ssl-perl, libpod-simple-perl, libtext-english-perl, libtk-histentry-perl, perl-doc, perl-tk, xauth, xfonts-base, xvfb
Depends: ${misc:Depends}, ${perl:Depends}, libpod-simple-perl, perl-doc, perl-tk
X: 1
