App: 0
Build-Depends: debhelper (>= 7), libautobox-core-perl (>= 1.0), libautobox-dump-perl (>= 20090426), libautobox-list-util-perl (>= 20090629), libautovivification-perl (>= 0.06), libclass-perl (>= 1.00), libdatetime-format-epoch-perl (>= 0.11), libdatetime-perl (>= 0.47), libdatetime-timezone-tzfile-perl (>= 0.002), libdigest-sha1-perl (>= 2.09), libfile-chdir-perl (>= 0.1002), libhash-merge-simple-perl (>= 0.04), libindirect-perl (>= 0.20), libipc-system-simple-perl (>= 1.18), libjson-perl (>= 2.17), liblist-moreutils-perl (>= 0.22), libmodern-perl (>= 1.03) | libmodern-perl-perl (>= 1.03), libobject-id-perl, libperl6-caller-perl (>= 0.100), libtaint-util-perl (>= 0.06), libtest-output-perl (>= 0.16), libtest-warn-perl (>= 0.11), libtime-y2038-perl (>= 20100218), libtry-tiny-perl (>= 0.02), libwant-perl (>= 0.18), libyaml-perl (>= 0.70), perl (>= 5.10) | libmodule-build-perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libautobox-core-perl (>= 1.0), libautobox-dump-perl (>= 20090426), libautobox-list-util-perl (>= 20090629), libautovivification-perl (>= 0.06), libclass-perl (>= 1.00), libdatetime-format-epoch-perl (>= 0.11), libdatetime-perl (>= 0.47), libdatetime-timezone-tzfile-perl (>= 0.002), libdigest-sha1-perl (>= 2.09), libfile-chdir-perl (>= 0.1002), libhash-merge-simple-perl (>= 0.04), libindirect-perl (>= 0.20), libipc-system-simple-perl (>= 1.18), libjson-perl (>= 2.17), liblist-moreutils-perl (>= 0.22), libmodern-perl (>= 1.03) | libmodern-perl-perl (>= 1.03), libobject-id-perl, libperl6-caller-perl (>= 0.100), libtaint-util-perl (>= 0.06), libtime-y2038-perl (>= 20100218), libtry-tiny-perl (>= 0.02), libwant-perl (>= 0.18), libyaml-perl (>= 0.70), perl
X: 0
