App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libclass-dbi-perl (>= 0.89), libdbd-pg-perl (>= 1.13), libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-dbi-perl (>= 0.89), libdbd-pg-perl (>= 1.13)
X: 0
