App: 0
Build-Depends: debhelper (>= 7.0.50), libcurl4-gnutls-dev, libtest-cpan-meta-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
X: 0
