App: 0
Build-Depends: debhelper (>= 8), libmodule-build-perl (>= 0.360000)
Build-Depends-Indep: libdatetime-perl, libwww-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdatetime-perl, libwww-perl
X: 0
