App: 0
Build-Depends: debhelper (>= 8), libcairo-perl, libextutils-depends-perl, libextutils-pkgconfig-perl, libglib-perl (>= 1:1.220), libpango1.0-dev, perl, xauth, xfonts-base, xvfb
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libcairo-perl, libglib-perl (>= 1.220)
X: 1
