App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcache-cache-perl, liberror-perl, libhtml-parser-perl, libtext-unidecode-perl, libwww-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcache-cache-perl, liberror-perl, libhtml-parser-perl, libtext-unidecode-perl, libwww-perl
X: 0
