App: 0
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: ${perl:Depends}, libcurses-ui-perl (>= 0.93), libpoe-perl (>= 0.11)
Depends: ${misc:Depends}, ${perl:Depends}, libcurses-ui-perl (>= 0.93), libpoe-perl (>= 0.11)
X: 0
