App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libb-hooks-endofscope-perl, libmoose-perl, libnamespace-clean-perl (>= 0.20), perl
Depends: ${misc:Depends}, ${perl:Depends}, libb-hooks-endofscope-perl, libmoose-perl (>= 2) | libclass-mop-perl (>= 0.80), libnamespace-clean-perl (>= 0.20)
X: 0
