App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libhtml-scrubber-perl, libjifty-perl, libmime-base64-urlsafe-perl, libregexp-common-email-address-perl, libregexp-common-perl, libtest-script-run-perl, perl (>= 5.10.1) | libcgi-pm-perl
Depends: ${misc:Depends}, ${perl:Depends}, libhtml-scrubber-perl, libjifty-perl, libmime-base64-urlsafe-perl, libregexp-common-email-address-perl, libregexp-common-perl, perl (>= 5.10.1) | libcgi-pm-perl
X: 0
