App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libhttp-parser-perl (>= 0.06), libpoe-perl, libtest-poe-client-tcp-perl, libtest-poe-server-tcp-perl, libwww-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libhttp-parser-perl (>= 0.06), libpoe-perl, libwww-perl
X: 0
