App: 0
Build-Depends: cdbs (>= 0.4.85~), debhelper (>= 7.0.1), devscripts (>= 2.10.7~), dh-buildinfo, libcommon-sense-perl, libdatetime-perl, libdigest-sha1-perl, libhttp-link-parser-perl, libhttp-lrdd-perl, libjson-perl, librdf-query-client-perl, librdf-query-perl, librdf-trine-perl, liburi-perl, libwww-perl, libxml-libxml-perl, libxrd-parser-perl, perl
Depends: ${cdbs:Depends}, ${misc:Depends}, ${perl:Depends}
X: 0
