App: 0
Build-Depends: debhelper (>= 8), libtest-pod-coverage-perl, libtest-pod-perl, libwxgtk2.8-dev (>= 2.8.10.1), perl (>= 5.10.1)
Depends: ${misc:Depends}, ${perl:Depends}, libwxgtk2.8-dev (<< ${wx:next})
X: 0
