App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libtest-exception-perl, libxml-parser-perl, libxml-sax-expat-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libxml-parser-perl, libxml-sax-expat-perl
X: 0
