App: 0
Build-Depends: debhelper (>= 8), libextutils-depends-perl, libextutils-pkgconfig-perl, libglib2.0-dev, libgtk2-perl, libgtk2.0-dev, perl, xauth, xfonts-base, xulrunner-dev (>= 1.9.1.3-2), xvfb
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libextutils-depends-perl, libextutils-pkgconfig-perl, libgtk2-perl
X: 1
