App: 0
Build-Depends: debhelper (>= 8), libmodule-build-perl (>= 0.360100)
Build-Depends-Indep: libmoose-perl (>= 0.92), libmoosex-has-sugar-perl, libmoosex-types-perl, libpod-coverage-trustpod-perl, libreadonly-perl, libtest-cpan-meta-perl, libtest-hasversion-perl, libtest-kwalitee-perl, libtest-minimumversion-perl, libtest-pod-coverage-perl, libtest-pod-perl, libtest-portability-files-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl (>= 0.92), libmoosex-has-sugar-perl, libmoosex-types-perl, libreadonly-perl
X: 0
