App: 0
Build-Depends: debhelper (>= 7), libalgorithm-diff-perl, libb-utils-perl, libpadwalker-perl, perl (>= 5.10) | libmodule-build-perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libb-utils-perl, perl (>= 5.10) | libio-compress-perl | libcompress-zlib-perl
X: 0
