App: 0
Build-Depends: debhelper (>= 7), perl
Build-Depends-Indep: libaugeas-dev (>= 0.3.5), libconfig-augeas-perl, libconfig-model-perl (>= 1.255), libexception-class-perl, liblog-log4perl-perl, libtest-exception-perl, libtest-pod-perl, libtest-warn-perl, pkg-config
Depends: ${misc:Depends}, ${perl:Depends}, libconfig-augeas-perl, libconfig-model-perl (>= 1.255), libexception-class-perl, liblog-log4perl-perl
X: 0
