App: 0
Build-Depends: debhelper (>= 7.0.50)
Build-Depends-Indep: libtest-pod-coverage-perl, libtest-pod-perl, libuniversal-exports-perl, libuniversal-require-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libuniversal-exports-perl, libuniversal-require-perl
X: 0
