App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdevel-declare-perl, libmoose-perl (>= 0.90), libmoosex-method-signatures-perl (>= 0.36), libmoosex-role-parameterized-perl, libmoosex-types-perl, libnamespace-autoclean-perl, libnamespace-clean-perl (>= 0.11), libtest-compile-perl, libtest-exception-perl, libtest-nowarnings-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libdevel-declare-perl, liblist-moreutils-perl, libmoose-perl (>= 0.90), libmoosex-method-signatures-perl (>= 0.30), libmoosex-role-parameterized-perl, libmoosex-types-perl, libnamespace-autoclean-perl, libnamespace-clean-perl (>= 0.11)
X: 0
