App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libsub-exporter-perl, libtest-exception-perl (>= 0.29), perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libsub-exporter-perl
X: 0
