App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdata-formvalidator-perl, libdatetime-format-builder-perl, libdatetime-format-strptime-perl, libdatetime-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdata-formvalidator-perl, libdatetime-format-strptime-perl, libdatetime-perl
X: 0
