App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcache-ref-perl (>= 0.02), libdata-stream-bulk-perl (>= 0.08), libdata-uuid-libuuid-perl (>= 0.05), libdata-visitor-perl (>= 0.24), libhash-util-fieldhash-compat-perl, libjson-perl (>= 2.12), libjson-xs-perl (>= 2.231), libmoose-perl (>= 1.17), libmoosex-clone-perl (>= 0.04), libmoosex-role-parameterized-perl (>= 0.1), libmoosex-yaml-perl (>= 0.04), libnamespace-clean-perl (>= 0.08), libpadwalker-perl (>= 1.9), libpath-class-perl, libscope-guard-perl, libsearch-gin-perl (>= 0.03), libset-object-perl (>= 1.26), libtask-weaken-perl, libtest-exception-perl, libtest-use-ok-perl, libthrowable-perl, libtie-toobject-perl, libtry-tiny-perl, libyaml-libyaml-perl (>= 0.3), perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libcache-ref-perl (>= 0.02), libdata-stream-bulk-perl (>= 0.08), libdata-uuid-libuuid-perl (>= 0.05), libdata-visitor-perl (>= 0.24), libhash-util-fieldhash-compat-perl, libjson-perl (>= 2.12), libjson-xs-perl (>= 2.231), libmoose-perl (>= 1.17), libmoosex-clone-perl (>= 0.04), libmoosex-role-parameterized-perl (>= 0.1), libmoosex-yaml-perl (>= 0.04), libnamespace-clean-perl (>= 0.08), libpadwalker-perl (>= 1.9), libpath-class-perl, libscope-guard-perl, libsearch-gin-perl (>= 0.03), libset-object-perl (>= 1.26), libtask-weaken-perl, libthrowable-perl, libtie-toobject-perl, libtry-tiny-perl, libyaml-libyaml-perl (>= 0.3), perl
X: 0
