App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libapp-cmd-perl (>= 0.202), libclass-mop-perl (>= 0.81), libdata-stream-bulk-perl (>= 0.03), libdata-uuid-libuuid-perl (>= 0.04), libdata-visitor-perl (>= 0.24), libjson-perl (>= 2.12), libjson-xs-perl (>= 2.231), libmoose-perl (>= 0.74), libmoosex-app-cmd-perl (>= 0.04), libmoosex-clone-perl (>= 0.04), libmoosex-getopt-perl, libmoosex-role-parameterized-perl (>= 0.02), libmoosex-types-path-class-perl (>= 0.05), libmoosex-yaml-perl (>= 0.03), libnamespace-clean-perl (>= 0.08), libpath-class-perl, libproc-invokeeditor-perl (>= 1), libscope-guard-perl, libsearch-gin-perl (>= 0.03), libset-object-perl (>= 1.26), libtask-weaken-perl, libtest-exception-perl, libtest-use-ok-perl, libtie-toobject-perl, libyaml-libyaml-perl, perl, quilt (>= 0.46-7)
Depends: ${misc:Depends}, ${perl:Depends}, libapp-cmd-perl (>= 0.202), libclass-mop-perl (>= 0.81), libdata-stream-bulk-perl (>= 0.03), libdata-uuid-libuuid-perl (>= 0.04), libdata-visitor-perl (>= 0.24), libhash-util-fieldhash-compat-perl (>= 0.03), libjson-perl (>= 2.12), libjson-xs-perl (>= 2.231), libmoose-perl (>= 0.74), libmoosex-clone-perl (>= 0.04), libmoosex-getopt-perl, libmoosex-role-parameterized-perl (>= 0.02), libmoosex-types-path-class-perl (>= 0.05), libmoosex-yaml-perl (>= 0.03), libnamespace-clean-perl (>= 0.08), libpath-class-perl, libproc-invokeeditor-perl (>= 1), libscope-guard-perl, libsearch-gin-perl (>= 0.03), libset-object-perl (>= 1.26), libtask-weaken-perl, libtest-exception-perl, libtie-toobject-perl, libyaml-libyaml-perl
X: 0
