App: 0
Build-Depends: chrpath, debhelper (>= 8), gfortran, libextutils-f77-perl, libpng12-dev, libx11-dev, perl, pgplot5, x11proto-core-dev
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
X: 0
