App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdevel-caller-perl, libmoose-perl (>= 0.58), libparams-validate-perl, libsub-exporter-perl, libtest-fatal-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libdevel-caller-perl, libmoose-perl (>= 0.58), libparams-validate-perl, libsub-exporter-perl
X: 0
