App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libmoose-perl (>= 0.90), libmoosex-attributehelpers-perl, libmoosex-clone-perl (>= 0.05), libpath-class-perl, libtest-exception-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl (>= 0.90), libmoosex-attributehelpers-perl, libmoosex-clone-perl (>= 0.05)
X: 0
