App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libpath-class-perl, libtest-deep-perl, libwww-perl, libyaml-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.86)
Depends: ${misc:Depends}, ${perl:Depends}, libpath-class-perl, libwww-perl, libyaml-perl
X: 0
