App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-mixinfactory-perl, libhtml-parser-perl, libtest-warn-perl, liburi-perl (>= 1.53), perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-mixinfactory-perl
X: 0
