App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libpod-simple-perl, libswish-api-common-perl, libsysadm-install-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libpod-simple-perl, libshell-posix-select-perl, libswish-api-common-perl
X: 0
