App: 0
Build-Depends: debhelper (>= 8), perl
Build-Depends-Indep: libb-keywords-perl, libconfig-tiny-perl, libemail-address-perl, libexception-class-perl, libfile-homedir-perl, libfile-spec-perl, libfile-which-perl, libio-string-perl, liblist-moreutils-perl, libmodule-pluggable-perl, libpod-spell-perl, libppi-perl (>= 1.215), libppix-regexp-perl, libppix-utilities-perl (>= 1.001), libreadonly-perl, libreadonly-xs-perl, libstring-format-perl, libtask-weaken-perl, libtest-deep-perl, libtest-pod-coverage-perl, libtest-pod-perl, perltidy
Depends: ${misc:Depends}, ${perl:Depends}, libb-keywords-perl, libconfig-tiny-perl, libemail-address-perl, libexception-class-perl, libfile-homedir-perl, libfile-spec-perl, libfile-which-perl, libio-string-perl, liblist-moreutils-perl, libmodule-pluggable-perl, libpod-spell-perl, libppi-perl (>= 1.215), libppix-regexp-perl, libppix-utilities-perl (>= 1.001), libreadonly-perl, libreadonly-xs-perl, libstring-format-perl, libtask-weaken-perl, perltidy
X: 0
