App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libxml-filter-buffertext-perl, libxml-namespacesupport-perl, libxml-sax-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libxml-filter-buffertext-perl, libxml-namespacesupport-perl, libxml-sax-perl
X: 0
