App: 0
Build-Depends: debhelper (>= 8), libfile-slurp-perl, libtest-pod-coverage-perl (>= 1.08), libtest-pod-perl (>= 1.22), quilt (>= 0.48-2~)
Build-Depends-Indep: perl
Depends: ${misc:Depends}, ${perl:Depends}, libfile-slurp-perl
X: 0
