App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libarchive-any-perl, libarray-diff-perl, libclass-accessor-perl, libcpan-distnameinfo-perl, libfile-find-rule-perl, libfile-slurp-perl, libio-capture-perl, liblist-moreutils-perl, libmodule-extractuse-perl, libreadonly-perl, libsoftware-license-perl, libtest-cpan-meta-yaml-perl, libtest-deep-perl, libtest-nowarnings-perl, libtest-warn-perl, libtext-csv-xs-perl, libwww-perl, libyaml-syck-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libarchive-any-perl, libarray-diff-perl, libclass-accessor-perl, libcpan-distnameinfo-perl, libfile-find-rule-perl, libfile-slurp-perl, libio-capture-perl, liblist-moreutils-perl, libmodule-extractuse-perl, libreadonly-perl, libsoftware-license-perl, libtest-cpan-meta-yaml-perl, libtext-csv-xs-perl, libwww-perl, libyaml-syck-perl
X: 0
