App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libauthen-sasl-perl, libio-socket-ssl-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libauthen-sasl-perl, libio-socket-ssl-perl
X: 0
