App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdatetime-event-recurrence-perl, libdatetime-perl, libparams-validate-perl, libset-infinite-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdatetime-perl, libparams-validate-perl, libset-infinite-perl
X: 0
