App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libsub-exporter-perl, libtest-simple-perl (>= 0.96) | perl (>= 5.13.4), perl
Depends: ${misc:Depends}, ${perl:Depends}, libsub-exporter-perl
X: 0
