App: 0
Build-Depends: debhelper (>= 7), libcrypt-openssl-bignum-perl, libcrypt-openssl-random-perl, libssl-dev, perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libcrypt-openssl-bignum-perl
X: 0
