App: 0
Build-Depends: debhelper (>= 7.0.0), libsnmp-perl (>= 5.1)
Build-Depends-Indep: libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libsnmp-perl (>= 5.1)
X: 0
