App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-load-perl, libmoose-perl, libmoosex-types-perl, libnamespace-clean-perl, libtest-exception-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libclass-load-perl, libmoosex-types-perl, libnamespace-clean-perl
X: 0
