App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>= 5.10.1) | libtest-simple-perl (>= 0.86)
Depends: ${misc:Depends}, ${perl:Depends}, perl (>= 5.10.1) | libtest-simple-perl (>= 0.86)
X: 0
