App: 0
Build-Depends: debhelper (>= 8), perl
Build-Depends-Indep: libauthen-dechpwd-perl (>= 2.003), libcrypt-des-perl, libcrypt-eksblowfish-perl (>= 0.008), libcrypt-mysql-perl, libcrypt-passwdmd5-perl, libcrypt-unixcrypt-xs-perl, libdata-entropy-perl, libdigest-md4-perl, libmodule-runtime-perl (>= 0.006), libparams-classify-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl (>= 5.10.1) | libparent-perl
Depends: ${misc:Depends}, ${perl:Depends}, libauthen-dechpwd-perl (>= 2.003), libcrypt-des-perl, libcrypt-eksblowfish-perl (>= 0.008), libcrypt-mysql-perl, libcrypt-passwdmd5-perl, libcrypt-unixcrypt-xs-perl, libdata-entropy-perl, libdigest-md4-perl, libdigest-perl, libmodule-runtime-perl (>= 0.006), libparams-classify-perl, perl (>= 5.10.1) | libparent-perl
X: 0
