App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcgi-application-perl, libcgi-application-plugin-autorunmode-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcgi-application-perl
X: 0
