App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcgi-application-perl, libconfig-auto-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcgi-application-perl, libconfig-auto-perl
X: 0
