App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcatalyst-perl, libclass-data-inheritable-perl, libclone-fast-perl, libmro-compat-perl, librpc-xml-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcatalyst-perl, libclass-data-inheritable-perl, libclone-fast-perl, libmro-compat-perl, librpc-xml-perl
X: 0
