App: 0
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: libaliased-perl, libb-hooks-endofscope-perl (>= 0.07), libcontext-preserve-perl, libdevel-declare-perl (>= 0.005011), libmoose-perl (>= 0.89), libmoosex-lazyrequire-perl (>= 0.04), libmoosex-meta-typeconstraint-forcecoercion-perl, libmoosex-types-perl (>= 0.19), libmoosex-types-structured-perl (>= 0.20), libnamespace-autoclean-perl, libparse-method-signatures-perl (>= 1.003011), libsub-name-perl, libtask-weaken-perl, libtest-exception-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.89)
Depends: ${misc:Depends}, ${perl:Depends}, libaliased-perl, libb-hooks-endofscope-perl (>= 0.07), libcontext-preserve-perl, libdevel-declare-perl (>= 0.005011), libmoose-perl (>= 0.89), libmoosex-lazyrequire-perl (>= 0.04), libmoosex-meta-typeconstraint-forcecoercion-perl, libmoosex-types-perl (>= 0.19), libmoosex-types-structured-perl (>= 0.20), libnamespace-autoclean-perl, libparse-method-signatures-perl (>= 1.003011), libsub-name-perl, libtask-weaken-perl
X: 0
