App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdevel-partialdump-perl, libmoose-perl (>= 1.08), libmoosex-types-datetime-perl, libmoosex-types-perl, libsub-exporter-perl (>= 0.982), libtest-fatal-perl, perl (>= 5.11.1) | libtest-simple-perl (>= 0.94)
Depends: ${misc:Depends}, ${perl:Depends}, libdevel-partialdump-perl, libmoose-perl (>= 1.08), libmoosex-types-perl, libsub-exporter-perl (>= 0.982)
X: 0
