App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libjifty-perl, libnet-oauth-perl, libtest-script-run-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libjifty-perl, libnet-oauth-perl
X: 0
