App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libany-moose-perl, libjson-perl (>= 2.16), libtest-deep-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libany-moose-perl, libjson-perl (>= 2.16)
X: 0
