App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: ghostscript, libclass-accessor-perl, libexception-class-perl, libfile-slurp-perl, libtemplate-perl, libtest-exception-perl, libtest-perl-critic-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl, texlive-binaries, texlive-latex-base, texlive-latex-extra
Depends: ${misc:Depends}, ${perl:Depends}, ghostscript, libclass-accessor-perl, libexception-class-perl, libfile-slurp-perl, libtemplate-perl, texlive-binaries, texlive-latex-base
X: 0
