App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-accessor-chained-perl, libcpan-meta-perl, libenv-sanctify-perl, libfile-chdir-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-accessor-chained-perl, libcpan-meta-perl, libenv-sanctify-perl, libfile-chdir-perl
X: 0
