App: 0
Build-Depends: debhelper (>= 7.2.13~)
Build-Depends-Indep: libclass-accessor-perl, libdatetime-format-mail-perl, libdatetime-format-w3cdtf-perl, libtest-differences-perl, libtest-exception-perl, libtest-warn-perl, libuniversal-require-perl, libxml-libxml-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-accessor-perl, libdatetime-format-mail-perl, libdatetime-format-w3cdtf-perl, libuniversal-require-perl, libxml-libxml-perl
X: 0
