App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libtask-weaken-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl (>= 5.10.1)
Depends: ${misc:Depends}, ${perl:Depends}, libtask-weaken-perl
X: 0
