App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libgd-gd2-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl (>= 5.8.0-7), perlmagick
Depends: ${misc:Depends}, ${perl:Depends}, libgd-gd2-perl | perlmagick
X: 0
