App: 0
Build-Depends: debhelper (>= 7.0.8), quilt (>= 0.46-7)
Build-Depends-Indep: libmoose-perl (>= 0.21), libtest-exception-perl, libtest-longstring-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl (>= 0.21)
X: 0
