App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdatetime-format-builder-perl (>= 0.74), libdatetime-perl, libdatetime-timezone-perl, liblist-moreutils-perl, libtest-mocktime-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdatetime-format-builder-perl (>= 0.74), libdatetime-perl, libdatetime-timezone-perl, liblist-moreutils-perl
X: 0
