App: 0
Build-Depends: debhelper (>= 8), libmodule-build-perl
Build-Depends-Indep: libarchive-zip-perl, libfile-mmagic-perl, libmime-types-perl, libmodule-find-perl, libtest-pod-coverage-perl, libtest-pod-perl, libtest-warn-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libarchive-zip-perl, libfile-mmagic-perl, libmime-types-perl, libmodule-find-perl, libtest-warn-perl, perl
X: 0
