App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcheck-isa-perl, libclass-isa-perl | perl (<< 5.10.1-13), libdevel-size-perl, libsort-naturally-perl, libterm-size-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcheck-isa-perl, libclass-isa-perl | perl (<< 5.10.1-13), libdevel-size-perl, libsort-naturally-perl, libterm-size-perl
X: 0
