App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libhttp-date-perl, libhttp-message-perl, liblwp-mediatypes-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libhttp-date-perl, libhttp-message-perl, liblwp-mediatypes-perl
X: 0
