App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libdevel-findref-perl, libdevel-refcount-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdevel-refcount-perl
X: 0
