App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdate-calc-perl, libswitch-perl | perl (<< 5.10.1-13), libtest-mockobject-perl, libwww-mechanize-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdate-calc-perl, libswitch-perl | perl (<< 5.10.1-13), libwww-mechanize-perl
X: 0
