App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-inspector-perl, libclass-xsaccessor-perl, libsub-name-perl, libtest-exception-perl (>= 0.31), perl (>= 5.11.1) | libtest-simple-perl (>= 0.94)
Depends: ${misc:Depends}, ${perl:Depends}, libclass-inspector-perl, libsub-name-perl
X: 0
