App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libany-moose-perl, libio-stringy-perl, liblog-log4perl-perl, libmoose-perl (>= 0.65), libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libany-moose-perl, libio-stringy-perl, liblog-log4perl-perl
X: 0
