App: 0
Build-Depends: debhelper (>= 8), libtest-pod-coverage-perl, libtest-pod-perl, libtest-warn-perl, libwww-perl, libxml-simple-perl, perl (>= 5.10.1) | libmodule-build-perl (>= 0.340201)
Depends: ${misc:Depends}, ${perl:Depends}, libwww-perl, libxml-simple-perl
X: 0
