App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: liberror-perl, libexception-class-perl, libparams-validate-perl, libtest-exception-perl, libwww-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, liberror-perl, libexception-class-perl, libparams-validate-perl, libtest-exception-perl, libwww-perl
X: 0
