App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libmoose-perl (>= 0.33), libmoosex-getopt-perl, libmoosex-types-path-class-perl, libtest-exception-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl (>= 0.33), libmoosex-getopt-perl, libmoosex-types-path-class-perl
X: 0
