App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libpod-coverage-perl, libpod-eventual-perl, libtest-pod-perl (>= 1.41), libtest-simple-perl (>= 0.96) | perl (>= 5.13.4), perl
Depends: ${misc:Depends}, ${perl:Depends}, libpod-coverage-perl, libpod-eventual-perl
X: 0
