App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdancer-perl, libdbd-sqlite3-perl, libdbi-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdancer-perl, libdbi-perl
X: 0
