App: 0
Build-Depends: debhelper (>= 7), perl (>= 5.10) | libmodule-build-perl
Build-Depends-Indep: libtest-perl-critic-perl, libtest-pod-coverage-perl, libtest-pod-perl, libxml-atom-perl (>= 0.27), perl (>= 5.8.8-12)
Depends: ${misc:Depends}, ${perl:Depends}, libxml-atom-perl (>= 0.27), perl (>= 5.10) | libversion-perl
X: 0
