App: 0
Build-Depends: debhelper (>= 7), perl (>= 5.10) | libmodule-build-perl
Build-Depends-Indep: libextutils-parsexs-perl (>= 2.220200), libtest-base-perl, libtest-differences-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libextutils-parsexs-perl (>= 2.220200)
X: 0
