App: 0
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: libmoose-perl (>= 0.94), perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl (>= 0.94)
X: 0
