App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libmoose-perl (>= 1.16), perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl (>= 1.16)
X: 0
