App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libauthen-simple-passwd-perl, libcgi-emulate-psgi-perl, libdevel-stacktrace-ashtml-perl (>= 0.11), libdevel-stacktrace-perl (>= 1.2300), libfcgi-perl, libfcgi-procmanager-perl, libfile-sharedir-perl (>= 1.00), libfilesys-notify-simple-perl, libhash-multivalue-perl, libhttp-body-perl (>= 1.06), libhttp-message-perl, libhttp-request-ascgi-perl, libhttp-server-simple-psgi-perl, libio-handle-util-perl, liblog-dispatch-array-perl, liblog-log4perl-perl, libmime-types-perl, libmodule-refresh-perl, libtest-requires-perl, libtest-tcp-perl, libtry-tiny-perl, liburi-perl (>= 1.58), libwww-perl (>= 5.814), perl (>= 5.10.1)
Depends: ${misc:Depends}, ${perl:Depends}, libdevel-stacktrace-ashtml-perl (>= 0.11), libdevel-stacktrace-perl (>= 1.2300), libfile-sharedir-perl (>= 1.00), libfilesys-notify-simple-perl, libhash-multivalue-perl, libhttp-body-perl (>= 1.06), libhttp-message-perl, libmodule-refresh-perl, libtest-tcp-perl, libtry-tiny-perl, liburi-perl (>= 1.58), libwww-perl (>= 5.814), perl (>= 5.10.1)
X: 0
