App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdatetime-format-mail-perl, libdatetime-format-natural-perl, libdatetime-perl, libdevel-partialdump-perl, libemail-address-perl, libemail-messageid-perl, libemail-mime-encodings-perl, libemail-sender-perl, libfile-libmagic-perl, libfile-slurp-perl, liblist-allutils-perl, liblist-moreutils-perl (>= 0.28), libmoose-perl, libmoosex-params-validate-perl, libmoosex-role-parameterized-perl, libmoosex-strictconstructor-perl, libmoosex-types-common-perl, libmoosex-types-perl, libnamespace-autoclean-perl, libpath-class-perl, libsub-exporter-perl, libtest-differences-perl, libtest-fatal-perl, libtest-requires-perl, perl (>= 5.10.1) | libparent-perl
Depends: ${misc:Depends}, ${perl:Depends}, libdatetime-format-mail-perl, libdatetime-format-natural-perl, libdatetime-perl, libdevel-partialdump-perl, libemail-address-perl, libemail-messageid-perl, libemail-mime-encodings-perl, libfile-libmagic-perl, libfile-slurp-perl, liblist-allutils-perl, liblist-moreutils-perl (>= 0.28), libmoose-perl, libmoosex-params-validate-perl, libmoosex-role-parameterized-perl, libmoosex-strictconstructor-perl, libmoosex-types-common-perl, libmoosex-types-perl, libnamespace-autoclean-perl, libsub-exporter-perl, perl (>= 5.10.1) | libparent-perl
X: 0
