App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libconfig-inifiles-perl, libio-string-perl, libtest-pod-perl, libxml-simple-perl, libyaml-perl (>= 0.67), perl
Depends: ${misc:Depends}, ${perl:Depends}, libconfig-inifiles-perl, libio-string-perl, libxml-simple-perl, libyaml-perl (>= 0.67)
X: 0
