App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libalgorithm-diff-perl, libspiffy-perl, libtest-deep-perl, libtest-tester-perl, libtext-diff-perl, libyaml-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libalgorithm-diff-perl, libspiffy-perl, libtext-diff-perl
X: 0
