App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libany-moose-perl, libcarp-assert-perl, libtry-tiny-perl (>= 0.07), perl (>= 5.10.1) | libtest-simple-perl (>= 0.92)
Depends: ${misc:Depends}, ${perl:Depends}, libany-moose-perl, libcarp-assert-perl, libtry-tiny-perl (>= 0.07), perl (>= 5.10.1) | libtest-simple-perl (>= 0.92)
X: 0
