App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libfile-temp-perl, libmail-mbox-messageparser-perl, libmime-tools-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libfile-temp-perl, libmime-tools-perl
X: 0
