App: 0
Build-Depends: debhelper (>= 6)
Build-Depends-Indep: libauthen-simple-perl, libdbd-sqlite3-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libauthen-simple-perl, libdbd-sqlite3-perl
X: 0
