App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libnumber-compare-perl, libtest-differences-perl, libtext-glob-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libnumber-compare-perl, libtext-glob-perl
X: 0
