App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: liblocale-maketext-perl, libppi-perl (>= 1.203), libtemplate-perl (>= 2.20), libtest-pod-perl, libyaml-perl (>= 0.66), perl
Depends: ${misc:Depends}, ${perl:Depends}, liblocale-maketext-perl
X: 0
