App: 0
Build-Depends: debhelper (>= 7), libstatistics-test-randomwalk-perl, libtest-leaktrace-perl, libtest-nowarnings-perl (>= 0.084), perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
X: 0
