App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libtest-pod-content-perl, perl (>= 5.11.1) | libtest-simple-perl (>= 0.94)
Depends: ${misc:Depends}, ${perl:Depends}, libtest-pod-content-perl, perl (>= 5.11.1) | libtest-simple-perl (>= 0.94)
X: 0
