App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libberkeleydb-perl, libsocket6-perl (>= 0.23), libtest-pod-coverage-perl, libtest-pod-perl, libunix-syslog-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}
X: 0
