App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libberkeleydb-perl (>= 0.32), libtest-pod-coverage-perl, libtest-pod-perl, libunix-syslog-perl (>= 1.1), perl
Depends: ${misc:Depends}, ${perl:Depends}
X: 0
