App: 0
Build-Depends: debhelper (>= 8), libfreetype6-dev, libgif-dev, libinline-perl, libjpeg-dev, libpng12-dev, libtest-pod-coverage-perl, libtest-pod-perl, libtiff4-dev, perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
X: 0
