App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libcache-cache-perl, libjifty-perl (>= 0.90519), libnet-ldap-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcache-cache-perl, libjifty-perl (>= 0.90519-1), libnet-ldap-perl
X: 0
