App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libfile-homedir-perl, liblist-moreutils-perl, libpath-class-perl, libyaml-syck-perl (>= 1), perl (>= 5.10.1)
Depends: ${misc:Depends}, ${perl:Depends}, libfile-homedir-perl, liblist-moreutils-perl, libpath-class-perl, libyaml-syck-perl (>= 1), perl (>= 5.10.1)
X: 0
