App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libfile-find-rule-perl (>= 0.32), libfile-find-rule-perl-perl, libparams-util-perl, libperl-critic-perl (>= 1.104), libppi-perl (>= 1.215), libtest-script-perl, perl (>= 5.10.1)
Depends: ${misc:Depends}, ${perl:Depends}, libfile-find-rule-perl (>= 0.32), libfile-find-rule-perl-perl, libparams-util-perl, libperl-critic-perl (>= 1.104), libppi-perl (>= 1.215), perl (>= 5.10.1)
X: 0
