App: 0
Build-Depends: debhelper (>= 7.0.50~), libmodule-build-perl (>= 0.360100), xauth, xvfb
Build-Depends-Indep: libconfig-model-perl (>= 1.253), libconfig-model-tkui-perl, liblog-log4perl-perl, libpod-pom-perl, libtest-differences-perl, libtest-pod-perl, libyaml-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libconfig-model-perl (>= 1.253), libconfig-model-tkui-perl, liblog-log4perl-perl, libpod-pom-perl, libyaml-perl
X: 1
