App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libglib-perl, libio-async-perl (>= 0.33), libtest-exception-perl, libtest-fatal-perl, libtest-pod-perl, libtest-refcount-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libglib-perl, libio-async-perl (>= 0.33)
X: 0
