App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: liblist-moreutils-perl, libmoose-perl, libnamespace-autoclean-perl, libparams-util-perl, libppi-perl (>= 1.205), libstring-rewriteprefix-perl, libtest-simple-perl (>= 0.96), libtry-tiny-perl, libversion-requirements-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, liblist-moreutils-perl, libmoose-perl, libnamespace-autoclean-perl, libparams-util-perl, libppi-perl (>= 1.205), libstring-rewriteprefix-perl, libversion-requirements-perl
X: 0
