App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libtest-pod-coverage-perl, libtest-pod-perl, perl (>= 5.10) | libdigest-sha-perl | libdigest-sha1-perl
Depends: ${misc:Depends}, ${perl:Depends}, perl (>= 5.10) | libdigest-sha-perl | libdigest-sha1-perl
X: 0
