App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libdevel-size-perl, libpoe-perl (>= 2:1.0001), libtest-distribution-perl, libtest-nowarnings-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdevel-size-perl, libpoe-perl (>= 2:1.0001)
X: 0
