App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libfile-homedir-perl (>= 0.69), libfile-remove-perl, libfile-sharedir-perl (>= 1), liblwp-online-perl, liborlite-perl, libparams-util-perl (>= 0.33), liburi-perl, libwww-perl, perl (>= 5.10.1) | libpod-simple-perl (>= 3.07)
Depends: ${misc:Depends}, ${perl:Depends}, libfile-homedir-perl (>= 0.69), libfile-remove-perl, libfile-sharedir-perl (>= 1.00), liblwp-online-perl, liborlite-perl, libparams-util-perl (>= 0.33), libwww-perl, perl (>= 5.10.1) | libio-compress-zlib-perl (>= 2.011)
X: 0
