App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libbusiness-onlinepayment-perl, libnet-ssleay-perl| libwww-perl, libtie-ixhash-perl, liburi-perl, libxml-simple-perl, libxml-writer-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libbusiness-onlinepayment-perl, libnet-ssleay-perl| libwww-perl, libtie-ixhash-perl, liburi-perl, libxml-simple-perl, libxml-writer-perl
X: 0
