App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libmoose-perl, libmoosex-declare-perl, libmoosex-insideout-perl, libmoosex-nonmoose-perl, libmoosex-types-perl, libpoe-perl, libtry-tiny-perl, libxml-libxml-element-perl, libxml-libxml-perl, libxml-sax-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl, libmoosex-declare-perl, libmoosex-insideout-perl, libmoosex-nonmoose-perl, libmoosex-types-perl, libpoe-perl, libtry-tiny-perl, libxml-libxml-element-perl, libxml-libxml-perl, libxml-sax-perl
X: 0
