App: 0
Build-Depends: cdbs (>= 0.4.85~), debhelper (>= 7.0.1), devscripts (>= 2.10.7~), dh-buildinfo, libhtml-html5-parser-perl, libhtml-html5-sanity-perl, librdf-trine-perl, liburi-perl, libxml-libxml-perl, perl
Depends: ${cdbs:Depends}, ${misc:Depends}, ${perl:Depends}
X: 0
