App: 0
Build-Depends: debhelper (>= 8), libgmp-dev, libmath-bigint-perl (>= 1.997), libtest-pod-coverage-perl, libtest-pod-perl, libyaml-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libmath-bigint-perl (>= 1.997)
X: 0
