App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libio-socket-socks-perl (>= 0.2), libio-socket-ssl-perl, liburi-perl, libwww-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libio-socket-socks-perl (>= 0.2), libio-socket-ssl-perl, liburi-perl, libwww-perl
X: 0
