App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-load-perl, libgetopt-long-descriptive-perl (>= 0.084), libio-tiecombine-perl, libstring-rewriteprefix-perl, libsub-exporter-perl, libsub-install-perl, libtest-fatal-perl, libtest-simple-perl (>= 0.96), perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-load-perl, libgetopt-long-descriptive-perl (>= 0.084), libstring-rewriteprefix-perl, libsub-exporter-perl, libsub-install-perl
X: 0
