App: 0
Build-Depends: debhelper (>= 8), perl (>= 5.11.3) | libmodule-build-perl (>= 0.360000)
Build-Depends-Indep: libhtml-parser-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libhtml-parser-perl
X: 0
