App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libconvert-binhex-perl, libmailtools-perl, libtest-deep-perl, libtest-pod-perl, netbase, perl
Depends: ${misc:Depends}, ${perl:Depends}, libconvert-binhex-perl, libmailtools-perl
X: 0
