App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-xsaccessor-perl, libppi-perl, libtest-differences-perl, libtest-most-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-xsaccessor-perl, libppi-perl
X: 0
