App: 0
Build-Depends: cdbs (>= 0.4.85~), debhelper (>= 7.0.1), devscripts (>= 2.10.7~), dh-buildinfo, libhtml-microformats-perl, libossp-uuid-perl, librdf-trine-perl, librdf-trineshortcuts-perl, liburi-perl, libwww-perl, libxml-atom-owl-perl, perl
Depends: ${cdbs:Depends}, ${misc:Depends}, ${perl:Depends}
X: 0
