App: 0
Build-Depends: debhelper (>= 8), libasync-interrupt-perl, libevent-perl, libglib-perl, libio-async-perl, libnet-ssleay-perl, libpoe-perl, netbase, perl, perl-tk, shared-mime-info, xauth, xvfb
Depends: ${misc:Depends}, ${perl:Depends}
X: 1
