App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-accessor-perl, libemail-mime-contenttype-perl, libemail-mime-perl (>= 1.901) | libemail-mime-modifier-perl (>= 1.441), libwww-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-accessor-perl, libemail-mime-contenttype-perl, libemail-mime-perl (>= 1.901) | libemail-mime-modifier-perl (>= 1.441), libwww-perl
X: 0
