App: 0
Build-Depends: debhelper (>= 8), libmodule-build-perl (>= 0.360100)
Build-Depends-Indep: libaudio-mpd-common-perl (>= 1.110550), libgetopt-euclid-perl, libmoose-perl, libmoosex-has-sugar-perl, libmoosex-semiaffordanceaccessor-perl, libproc-daemon-perl, libtest-corpus-audio-mpd-perl (>= 1.110710), perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libaudio-mpd-common-perl (>= 1.110550), libgetopt-euclid-perl, libmoose-perl, libmoosex-has-sugar-perl, libmoosex-semiaffordanceaccessor-perl, libproc-daemon-perl
X: 0
