App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libmoose-perl (>= 0.91), libparams-util-perl, libtie-ixhash-perl, libtry-tiny-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libmoose-perl (>= 0.91), libparams-util-perl, libtie-ixhash-perl, libtry-tiny-perl, perl (>= 5.8.9) | libmodule-pluggable-perl
X: 0
