App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libperl-minimumversion-perl, libpod-simple-perl, libtest-cpan-meta-perl, libtest-minimumversion-perl, libtest-pod-perl, perl (>= 5.10.1) | libcompress-raw-zlib-perl (>= 2.017)
Depends: ${misc:Depends}, ${perl:Depends}, perl (>= 5.10.1) | libcompress-raw-zlib-perl (>= 2.017)
X: 0
