App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libdevel-cycle-perl (>= 1.11), libpadwalker-perl (>= 1.9), libscalar-list-utils-perl, libtest-exception-perl, libtest-memory-cycle-perl, libtest-simple-perl (>= 0.94), libtest-warn-perl (>= 0.21), libxml-parser-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdevel-cycle-perl (>= 1.11), libpadwalker-perl (>= 1.9), libscalar-list-utils-perl, libxml-parser-perl
X: 0
