App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libmoosex-types-perl, libparams-util-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libmoosex-types-perl, libparams-util-perl, perl (>= 5.12) | libversion-perl (>= 1:0.8200)
X: 0
