App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcatalyst-modules-perl, libcatalyst-perl (>= 5.90001), libconfig-general-perl (>= 2.42), libfile-changenotify-perl, libfile-copy-recursive-perl, libfile-sharedir-perl, libipc-run3-perl, libmodule-install-perl (>= 0.91), libmoose-perl, libmoosex-emulate-class-accessor-fast-perl, libnamespace-autoclean-perl, libnamespace-clean-perl, libpath-class-perl, libtemplate-perl, libtest-fatal-perl, libtest-simple-perl (>= 0.94), libyaml-tiny-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcatalyst-perl (>= 5.90001), libconfig-general-perl (>= 2.42), libfile-changenotify-perl, libfile-copy-recursive-perl, libfile-sharedir-perl, libmoose-perl, libmoosex-emulate-class-accessor-fast-perl, libnamespace-autoclean-perl, libnamespace-clean-perl, libpath-class-perl, libtemplate-perl, libyaml-tiny-perl
X: 0
