App: 0
Build-Depends: debhelper (>= 7.0.50~), libclass-accessor-perl, libosp-dev, libtest-exception-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libclass-accessor-perl
X: 0
