App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libhttp-daemon-perl | libwww-perl (<< 6), libjson-perl, libtest-pod-perl, libwww-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libhttp-daemon-perl | libwww-perl (<< 6), libjson-perl, libwww-perl
X: 0
