App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libdbd-sqlite3-perl (>= 1.29), libdbix-class-perl, libsql-translator-perl, libtest-use-ok-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libdbd-sqlite3-perl (>= 1.29), libsql-translator-perl
X: 0
