App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libhtml-stream-perl, libio-string-perl, libtext-template-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libhtml-stream-perl, libio-string-perl, libtext-template-perl
X: 0
