App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libclass-accessor-perl, libio-stringy-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-accessor-perl, libio-stringy-perl
X: 0
