App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-inspector-perl, libclass-isa-perl | perl (<< 5.10.1-13), perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-inspector-perl, libclass-isa-perl | perl (<< 5.10.1-13)
X: 0
