App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libapache-session-perl, libclass-container-perl, libexception-class-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libapache-session-perl, libclass-container-perl, libexception-class-perl, libparams-validate-perl
X: 0
