App: 0
Build-Depends: debhelper (>= 7.3.7~), perl
Build-Depends-Indep: libclass-accessor-chained-perl, libdevel-stacktrace-perl, libmodule-pluggable-perl, libpadwalker-perl, libproc-background-perl, libstring-koremutake-perl, libtest-expect-perl, libtest-pod-perl, libyaml-perl, libyaml-syck-perl, netbase
Depends: ${misc:Depends}, ${perl:Depends}, libclass-accessor-chained-perl, libdevel-stacktrace-perl, libmodule-pluggable-perl, libpadwalker-perl, libproc-background-perl, libstring-koremutake-perl, libyaml-syck-perl, netbase
X: 0
