App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libparse-recdescent-perl, libtest-distribution-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libparse-recdescent-perl
X: 0
