App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libtask-weaken-perl, libvariable-magic-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libtask-weaken-perl, libvariable-magic-perl
X: 0
