App: 0
Build-Depends: debhelper (>= 8), perl
Build-Depends-Indep: libconfig-model-perl (>= 1.253), libexception-class-perl, libfile-slurp-perl, liblog-log4perl-perl, libpod-pom-perl, libtest-pod-perl, libtest-warn-perl, libtk-dirselect-perl, libtk-objscanner-perl, libtk-pod-perl, perl-tk
Depends: ${misc:Depends}, ${perl:Depends}, libconfig-model-perl (>= 1.253), libexception-class-perl, libfile-slurp-perl, liblog-log4perl-perl, libpod-pom-perl, libtk-dirselect-perl, libtk-pod-perl, perl-tk
X: 0
