App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libhttp-body-perl, libhttp-server-simple-psgi-perl, libjson-perl, libmime-types-perl, libplack-perl, libtemplate-perl, libtest-pod-perl, libtest-requires-perl, libtest-tcp-perl, liburi-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libhttp-body-perl, libhttp-server-simple-psgi-perl, libmime-types-perl, liburi-perl
X: 0
