App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libaliased-perl (>= 0.30), libmoose-perl (>= 0.94), libmoosex-types-perl, libnamespace-autoclean-perl, libtest-exception-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libaliased-perl (>= 0.30), libmoose-perl (>= 0.94), libmoosex-types-perl, libnamespace-autoclean-perl
X: 0
