App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libhtml-tagset-perl, libhtml-tree-perl, libxml-parser-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libhtml-tagset-perl, libhtml-tree-perl, libxml-parser-perl
X: 0
