App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: liblist-moreutils-perl, libppi-perl, libtask-weaken-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, liblist-moreutils-perl, libppi-perl, libtask-weaken-perl
X: 0
