App: 0
Build-Depends: debhelper (>= 6), quilt
Build-Depends-Indep: libemail-foldertype-perl, libemail-simple-perl, libfile-path-expand-perl, liblockfile1, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libemail-foldertype-perl, libemail-simple-perl, libfile-path-expand-perl, liblockfile1
X: 0
