App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcrypt-ssleay-perl, libdata-visitor-perl, libdatetime-format-strptime-perl (>= 1.1000), libdatetime-perl (>= 2:0.5100), libdevel-stacktrace-perl (>= 1.2100), libdigest-hmac-perl, libhtml-parser-perl, libjson-perl, libmoose-perl (>= 0.90), libmoosex-aliases-perl, libmoosex-role-parameterized-perl, libnamespace-autoclean-perl, libnet-oauth-perl (>= 0.25), libtest-deep-perl, libtest-fatal-perl, libtry-tiny-perl, liburi-perl (>= 1.40), libwww-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libcrypt-ssleay-perl, libdata-visitor-perl, libdatetime-format-strptime-perl (>= 1.1000), libdatetime-perl (>= 2:0.5100), libdevel-stacktrace-perl (>= 1.2100), libdigest-hmac-perl, libhtml-parser-perl, libjson-perl, libmoose-perl (>= 0.90), libmoosex-aliases-perl, libmoosex-role-parameterized-perl, libnamespace-autoclean-perl, libnet-oauth-perl (>= 0.25), libtry-tiny-perl, liburi-perl (>= 1.40), libwww-perl
X: 0
