App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: liberror-perl, libexporter-lite-perl, libio-stringy-perl, libpod-coverage-perl, libtest-exception-perl, libtest-pod-perl, libtie-ixhash-perl, libwww-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, liberror-perl, libexporter-lite-perl, libio-stringy-perl, libwww-perl
X: 0
