App: 0
Build-Depends: debhelper (>= 8), libtest-pod-perl, libxml-namespacesupport-perl, libxml-sax-perl, libxml2-dev (>= 2.7.6), perl (>= 5.12), zlib1g-dev
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libxml-namespacesupport-perl, libxml-sax-perl
X: 0
