App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcarp-clan-perl, libclass-accessor-grouped-perl (>= 0.10002), libclass-c3-componentised-perl (>= 1.0008), libclass-load-perl, libclass-unload-perl, libdata-dump-perl, libdbd-sqlite3-perl, libdbix-class-perl (>= 0.08127), libfile-slurp-perl (>= 9999.13), liblingua-en-inflect-number-perl, liblingua-en-inflect-perl, liblingua-en-inflect-phrase-perl, liblist-moreutils-perl, libmoose-perl (>= 1.12), libmoosex-nonmoose-perl, libmro-compat-perl, libnamespace-autoclean-perl, libnamespace-clean-perl (>= 0.20), libscope-guard-perl, libtest-exception-perl, libtest-pod-perl, libtest-warn-perl (>= 0.21), libtry-tiny-perl, libuniversal-require-perl, perl (>= 5.11.1) | libtest-simple-perl (>= 0.94)
Depends: ${misc:Depends}, ${perl:Depends}, libcarp-clan-perl, libclass-accessor-grouped-perl (>= 0.10002), libclass-c3-componentised-perl (>= 1.0008), libclass-load-perl, libclass-unload-perl, libdata-dump-perl, libdbix-class-perl (>= 0.08127), libfile-slurp-perl (>= 9999.13), liblingua-en-inflect-number-perl, liblingua-en-inflect-perl, liblingua-en-inflect-phrase-perl, liblist-moreutils-perl, libmro-compat-perl, libnamespace-autoclean-perl, libnamespace-clean-perl (>= 0.20), libscope-guard-perl, libtry-tiny-perl, libuniversal-require-perl, perl (>= 5.10.1)
X: 0
