App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcatalyst-perl, libmro-compat-perl, libtemplate-perl, libtemplate-provider-encoding-perl, libtemplate-timer-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcatalyst-perl, libmro-compat-perl, libtemplate-perl, libtemplate-provider-encoding-perl, libtemplate-timer-perl
X: 0
