App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libbsd-resource-perl, libipc-system-simple-perl, libsub-identify-perl (>= 0.04), perl
Depends: ${misc:Depends}, ${perl:Depends}, libsub-identify-perl (>= 0.04)
X: 0
