App: 0
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: libcgi-untaint-perl, libdate-manip-perl, libdate-simple-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcgi-untaint-perl, libdate-manip-perl, libdate-simple-perl
X: 0
