App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-accessor-perl, libdata-stream-bulk-perl, libdatetime-format-http-perl, libdatetime-format-iso8601-perl, libdigest-hmac-perl, libdigest-md5-file-perl, libhttp-date-perl, libhttp-message-perl, liblwp-useragent-determined-perl, libmoose-perl (>= 0.85), libmoosex-strictconstructor-perl (>= 0.08), libmoosex-types-datetime-perl, libregexp-common-perl, libtest-exception-perl, libtest-pod-coverage-perl, libtest-pod-perl, liburi-perl, libwww-perl, libxml-libxml-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-accessor-perl, libdata-stream-bulk-perl, libdatetime-format-http-perl, libdatetime-format-iso8601-perl, libdigest-hmac-perl, libdigest-md5-file-perl, libhttp-date-perl, libhttp-message-perl, liblwp-useragent-determined-perl, libmoose-perl (>= 0.85), libmoosex-strictconstructor-perl (>= 0.08), libmoosex-types-datetime-perl, libregexp-common-perl, liburi-perl, libwww-perl, libxml-libxml-perl
X: 0
