App: 0
Build-Depends: debhelper (>= 7.0.8), quilt (>= 0.46-7)
Build-Depends-Indep: libio-socket-ssl-perl, liblist-moreutils-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl (>= 5.6.10-12)
Depends: ${misc:Depends}, ${perl:Depends}, libio-socket-ssl-perl, liblist-moreutils-perl
X: 0
