App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libbusiness-onlinepayment-perl (>=3.00~07), libnet-https-any-perl, libtest-pod-perl, libtie-ixhash-perl, libxml-simple-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libbusiness-onlinepayment-perl (>=3.00~07), libnet-https-any-perl, libxml-simple-perl
X: 0
