App: 0
Build-Depends: debhelper (>= 7.0.50~), libcairo2-dev, libextutils-depends-perl, libextutils-pkgconfig-perl, libfont-freetype-perl, libtest-number-delta-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
X: 0
