App: 0
Build-Depends: debhelper (>= 7), libdata-float-perl, libdata-integer-perl, libtest-pod-coverage-perl, libtest-pod-perl, perl (>= 5.10.1) | libparent-perl
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libdata-float-perl, libdata-integer-perl, perl (>= 5.10.1) | libparent-perl
X: 0
