App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclass-inspector-perl, libfile-sharedir-perl (>= 1.00), libpar-perl (>= 0.989), perl
Depends: ${misc:Depends}, ${perl:Depends}, libclass-inspector-perl, libfile-sharedir-perl (>= 1.00)
X: 0
