App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libclone-perl, liblist-moreutils-perl, libparams-util-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libclone-perl, liblist-moreutils-perl, libparams-util-perl
X: 0
