App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcurses-perl, libterm-readkey-perl, libtest-pod-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcurses-perl, libterm-readkey-perl
X: 0
