App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libconfig-any-perl (>= 0.13), libconfig-general-perl, libmoose-perl, libmoosex-configfromfile-perl, libyaml-libyaml-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libconfig-any-perl (>= 0.13), libmoose-perl, libmoosex-configfromfile-perl
X: 0
