App: 0
Build-Depends: debhelper (>= 7.0.50~), libextutils-depends-perl, libextutils-pkgconfig-perl, libgtk2-perl, libunique-dev, perl, xauth, xfonts-base, xvfb
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libgtk2-perl
X: 1
