App: 0
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libcolor-scheme-perl, libdatetime-perl (>= 2:0.4700), libdatetime-set-perl (>= 0.27), libgeometry-primitive-perl, libgraphics-color-perl, libgraphics-primitive-driver-cairo-perl, libgraphics-primitive-perl, liblayout-manager-perl, libmath-gradient-perl, libmoose-perl (>= 0.76), libtest-exception-perl, perl
Depends: ${misc:Depends}, ${perl:Depends}, libcolor-scheme-perl, libdatetime-perl (>= 2:0.4700), libdatetime-set-perl (>= 0.27), libgeometry-primitive-perl, libgraphics-color-perl, libgraphics-primitive-driver-cairo-perl, libgraphics-primitive-perl, liblayout-manager-perl, libmath-gradient-perl, libmoose-perl (>= 0.76)
X: 0
