App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libb-hooks-endofscope-perl, libpackage-stash-perl (>= 0.23), libsub-identify-perl (>= 0.04), libsub-name-perl, perl (>= 5.10.1) | libtest-simple-perl (>= 0.88)
Depends: ${misc:Depends}, ${perl:Depends}, libb-hooks-endofscope-perl, libpackage-stash-perl (>= 0.23), libsub-identify-perl (>= 0.04), libsub-name-perl
X: 0
