App: 0
Build-Depends: debhelper (>= 7.0.8), quilt (>= 0.46-7)
Build-Depends-Indep: libnet-dns-perl (>= 0.59), libpoe-perl (>= 2:1.2800), libtest-nowarnings-perl (>= 0.084), netbase, perl
Depends: ${misc:Depends}, ${perl:Depends}, libnet-dns-perl (>= 0.59), libpoe-perl (>= 2:1.2800)
X: 0
