App: 0
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcrypt-rc4-perl, libjcode-pm-perl, libole-storage-lite-perl (>= 0.19), libspreadsheet-writeexcel-perl, libtest-cpan-meta-perl, libtest-minimumversion-perl, libtest-pod-perl, libunicode-map-perl, perl (>= 5.10.1) | libpod-simple-perl (>= 3.07)
Depends: ${misc:Depends}, ${perl:Depends}, libcrypt-rc4-perl, libjcode-pm-perl, libole-storage-lite-perl (>= 0.19), libspreadsheet-writeexcel-perl, libunicode-map-perl
X: 0
